* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.9;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-centralizado {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  color: #b463be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

header nav ul li a {
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s;
  font-weight: bold;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #b463be;
  text-decoration: none;
}

.hero-perfil-container {
  background-color: #0b1a37;
  background-image: url("bg-texture.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0;
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: justify;
  justify-content: center;
}

.hero-box {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: -67px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.hero-content-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  text-align: left;
  color: #333;
}
@media (min-width: 768px) {
  .hero-content-area {
    grid-template-columns: 1fr 1fr;
  }
}
.profile-img {
  width: 100%;
  height: 100%;
  min-height: 350px;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.hero-details {
  padding: 30px 40px;
  background-color: #f7f7f7;
}

.hero-details h1 {
  font-size: 3em;
  color: #0b1a37;
  padding: 35px 0 10px 0;
  margin-bottom: 5px;
}

.hero-details h2 {
  font-size: 1.3em;
  color: #5e5447;
  margin-bottom: 30px;
}

.hero-details h3 {
  font-size: 1em;
  color: #0b1a37;
  margin-top: 15px;
  margin-bottom: 5px;
}

.hero-details p {
  font-size: 0.9em;
  line-height: 1.8;
}

.hero-social-bar {
  background-color: #0b1a37;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 25px;
}

.hero-social-bar a {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s;
}

.hero-social-bar a:hover {
  color: #b463be;
  text-decoration: none;
}

.main-content-single-column {
  background-color: white;
  padding: 100px 0;
}

.main-content-single-column section {
  margin: 0 auto 60px auto;
  padding-top: 20px;
}

.section-with-border {
  border-top: 1px solid #eee;
}

.main-content-single-column h2 {
  text-align: center;

  color: #0b1a37;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 36px;
}

.main-content-single-column h3 {
  color: #5e5447;
  margin-top: 20px;
}

.paragrafo-impacto {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #0b1a37;
  margin-bottom: 20px;
}
.justify-text {
  text-align: justify;
}
.contact-info-list-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-info-list-horizontal li {
  padding: 5px 0;
  font-size: 0.95em;
  display: flex;
  align-items: center;
}

.contact-info-list-horizontal i {
  margin-right: 10px;
  color: #5e5447;
}

.skills-section {
  background: linear-gradient(to right, #f7f7fb, white);
  padding: 32px 16px 0 16px;

}

.skills-wrapper {
  position: relative;
}
.card {
  background: #ffffff;
  padding: 26px;
  border-radius: 12px;
  margin-bottom: 24px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 16px;
  letter-spacing: 0.4px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.card-large {
  border: 1px solid #cfcfcf;
  border-left: 4px solid #0b1a37;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    5px 0 10px 0px rgba(244, 244, 244, 1);
}

.card-soft {
  background: #f7f7fb;
  border-right: 4px solid #0b1a37;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
    -5px 0 10px 0px rgba(244, 244, 244, 1);
}

.card-float {
  border: 2px solid #0b1a37;
}

.container-centralizado {
  text-align: center;
}

#contato-final {
  padding: 20px 16px;
  text-align: center;
}

#contato-final h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
#contato-final p {
  text-align: justify;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  line-height: 1.7;
}

#contato-final a {
  font-size: 2.2em;
}
#contato-final a:hover {
  color: #b463be !important;
}

@media (min-width: 900px) {
  .skills-wrapper {
    max-width: 1000px;
    margin: 64px auto;
    padding-bottom: 50px;
  }
  */ .card-large {
    background: #f1f1f6;
    padding-top: 15px;
    text-align: left;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
      5px 0 10px 0px rgba(244, 244, 244, 1);
  }

  .card-soft {
    margin-top: 50px;
    padding-top: 15px;
    text-align: right;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
      -5px 0 10px 0px rgba(244, 244, 244, 1);
  }

  .card-float {
    position: absolute;
    top: 140px;
    left: 350px;
    width: 360px;
    text-align: center;
    padding: 15px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.18);
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.skill-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.skills-list li {
  font-size: 0.95em;
  margin-bottom: 5px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-5px);
}
.project-links {
  margin-top: auto;
  padding-top: 10px;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project-card h3 {
  color: #0b1a37;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-card a {
  display: block;
  background-color: #5e5447;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 0.9em;
  width: fit-content;
}
@media (min-width: 768px) {
  .project-card a {
    display: inline-block;
    margin-top: 10px;
  }
}
.project-card a:hover {
  background-color: #b463be;
  text-decoration: none;
}

.timeline {
  border-left: 3px solid #ccc;
  padding-left: 20px;
  position: relative;
  max-width: 700px;
  margin: 30px auto 0 auto;
}
.timeline p {
  text-align: justify;
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #b463be;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content h3 {
  text-align: justify;
  margin-top: 0;
  color: #5e5447;
}

.timeline-content p strong {
  font-style: italic;
  color: #555;
}

.timeline-content .data {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

footer {
  background-color: #0b1a37;
  color: #f4f4f4;
  padding: 30px 0;
  font-size: 0.9em;
  text-align: center;
}

